        <!-- footer -->
        <section id="footer" style="background-color: #e38b18">
            <div class="container">
                <footer class="py-3">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About Us</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Refund</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Terms</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
                <p class="text-center text-muted">Copyright © Aladin, Inc</p>
                </footer>
            </div>
        </section>

        <!-- scroll to top -->
        <a href="#">
            <div class="to-top">
                <i class="fa fa-angle-up"></i>
            </div>
        </a>