<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head-shipper') %>
    <body>
        <div class="container-fluid position-relative d-flex p-0">
            <!-- Sidebar -->
            <div class="sidebar pe-4 pb-3">
                <nav class="navbar navbar-dark">
                    <a href="#" class="navbar-brand mx-4 mb-3">
                        <h1 class="text-light">
                            <img
                                src="/images/shipper/logo-1(backup).png"
                                alt="logo"
                                style="width: 60px; height: 60px"
                            />
                            Aladin
                        </h1>
                    </a>
                    <div class="d-flex align-items-center ms-4 mb-4">
                        <div class="position-relative">
                            <img
                                class="rounded-circle"
                                src="/images/shipper/cuong.jpg"
                                alt="user-image"
                                style="width: 40px; height: 40px"
                            />
                            <div
                                class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"
                            ></div>
                        </div>
                        <div class="ms-3 text-white">
                            <h6 class="mb-0">Cuong Tran</h6>
                            <span>Shipper</span>
                        </div>
                    </div>
                    <div class="navbar-nav w-100">
                        <a href="#!" class="nav-item nav-link active">
                            <i class="fa fa-tachometer-alt me-2"></i>
                            Dashboard
                        </a>
                        <a href="#!" class="nav-item nav-link">
                            <i class="fas fa-sign-out"></i>
                            Log out
                        </a>
                    </div>
                </nav>
            </div>
            <!-- Main content -->
            <div class="content">
                <!-- Navbar -->
                <nav
                    class="navbar navbar-expand navbar-dark sticky-top px-4 py-0"
                >
                    <a href="#!" class="navbar-brand d-flex d-lg-none me-4">
                        <h2 class="text-primary mb-0">
                            <img
                                src="/images/shipper/logo-1(backup).png"
                                alt="logo"
                                style="width: 60px; height: 60px"
                            />
                        </h2>
                    </a>
                    <a
                        href="#"
                        class="sidebar-toggler flex-shrink-0 text-decoration-none text-white"
                    >
                        <i class="fa fa-bars"></i>
                    </a>
                    <form class="d-none d-md-flex ms-4">
                        <input
                            class="form-control bg-white border-0"
                            type="search"
                            placeholder="Search"
                        />
                    </form>
                    <div class="navbar-nav align-items-center ms-auto">
                        <div class="nav-item dropdown">
                            <a
                                href="#"
                                class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                            >
                                <i class="fa fa-bell me-lg-2"></i>
                                <span class="d-none d-lg-inline-flex"
                                    >Notification</span
                                >
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0"
                            >
                                <a href="#" class="dropdown-item">
                                    <h6 class="fw-normal mb-0">
                                        Profile updated
                                    </h6>
                                    <small>2 minutes ago</small>
                                </a>
                                <hr class="dropdown-divider" />
                                <a href="#" class="dropdown-item">
                                    <h6 class="fw-normal mb-0">
                                        New user added
                                    </h6>
                                    <small>2 minutes ago</small>
                                </a>
                                <hr class="dropdown-divider" />
                                <a href="#" class="dropdown-item">
                                    <h6 class="fw-normal mb-0">
                                        Password changed
                                    </h6>
                                    <small>2 minutes ago</small>
                                </a>
                                <hr class="dropdown-divider" />
                                <a href="#" class="dropdown-item text-center"
                                    >See all notifications</a
                                >
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a
                                href="#"
                                class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                            >
                                <img
                                    class="rounded-circle me-lg-2"
                                    src="/images/shipper/cuong.jpg"
                                    alt=""
                                    style="width: 40px; height: 40px"
                                />
                                <span class="d-none d-lg-inline-flex"
                                    >Cuong Tran</span
                                >
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-end border-0 rounded-0 rounded-bottom m-0"
                            >
                                <a href="#" class="dropdown-item">My Profile</a>
                                <hr class="dropdown-divider" />
                                <a href="#" class="dropdown-item">Log Out</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- Active Orders -->
                <div class="container-fluid pt-4 px-4">
                    <div class="order text-center p-4">
                        <div
                            class="d-flex align-items-center justify-content-between mb-4 text-white"
                        >
                            <h6 class="mb-0">Active Orders</h6>
                            <h6 class="mb-0">Distribution Hub</h6>
                        </div>
                        <div class="table-responsive bg-white">
                            <table
                                class="table text-start align-middle table-bordered table-hover mb-0"
                            >
                                <thead class="bg-secondary-subtle">
                                    <tr class="text-black">
                                        <th scope="col">Invoice</th>
                                        <th scope="col">Shipper</th>
                                        <th scope="col">Receiver</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="order-row">
                                        <td>INV-0001</td>
                                        <td>Cuong Tran</td>
                                        <td>Cuong Tran</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <!-- Button trigger modal -->
                                            <button
                                                type="button"
                                                class="btn btn-primary btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#order-detail"
                                            >
                                                Details
                                            </button>

                                            <!-- Modal -->
                                            <div
                                                class="modal fade"
                                                id="order-detail"
                                                tabindex="-1"
                                                role="dialog"
                                                aria-labelledby="exampleModalCenterTitle"
                                                aria-hidden="true"
                                            >
                                                <div
                                                    class="modal-dialog modal-dialog-centered"
                                                    role="document"
                                                >
                                                    <div class="modal-content">
                                                        <div
                                                            class="modal-header"
                                                        >
                                                            <h5
                                                                class="modal-title"
                                                                id="exampleModalLongTitle"
                                                            >
                                                                Invoice Details
                                                            </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col mb-1">
                                                                    <p class="small mb-1">Order No.</p>
                                                                    <p>INV-0001</p>
                                                                </div>
                                                                <div class="col mb-1">
                                                                    <p class="small mb-1">Distribution Hub</p>
                                                                    <p>Distribution Hub</p>
                                                                </div>
                                                                <div class="col mb-1">
                                                                    <p class="small mb-1">Date</p>
                                                                    <p>01/01/2023</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label class="small mb-1" for="order-status">Status:</label>
                                                                    <select class="custom-select my-1 mr-sm-2" id="order-status">
                                                                        <option value="1" selected>Active</option>
                                                                        <option value="2">Delivered</option>
                                                                        <option value="3">Canceled</option>
                                                                      </select>
                                                                </div>
                                                                
                                                            </div>
                                                            <hr>
                                                            <p class="small mb-1">Item list</p>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p>BEATS Solo 3 Wireless Headphones</p>
                                                                </div>
                                                                <div class="col">
                                                                    <p>x1</p>
                                                                </div>
                                                                <div class="col">
                                                                    <p>£299.99</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p>BEATS Solo 3 Wireless Headphones</p>
                                                                </div>
                                                                <div class="col">
                                                                    <p>x1</p>
                                                                </div>
                                                                <div class="col">
                                                                    <p>£299.99</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p>BEATS Solo 3 Wireless Headphones</p>
                                                                </div>
                                                                <div class="col">
                                                                    <p>x1</p>
                                                                </div>
                                                                <div class="col">
                                                                    <p>£299.99</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p class="fs-5 text mb-1">Total Price:</p>
                                                                </div>
                                                                <div class="col">
                                                                </div>
                                                                <div class="col">
                                                                    <p class="fs-5 text mb-1">£599.97</p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col mb-1">
                                                                    <p class="small mb-1">Receiver</p>
                                                                    <p>Tran Manh Cuong</p>
                                                                </div>
                                                                <div class="col mb-1">
                                                                    <p class="small mb-1">Address</p>
                                                                    <p>33 Nguyen Huu Tho</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col mb-1">
                                                                    <p class="small mb-1">Phone Number</p>
                                                                    <p>0901727436</p>
                                                                </div>
                                                                <div class="col mb-1">
                                                                    <p class="small mb-1">Payment Method</p>
                                                                    <p>Cash on Delivery (COD)</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="modal-footer"
                                                        >
                                                            <button
                                                                type="button"
                                                                class="btn btn-secondary"
                                                                data-bs-dismiss="modal"
                                                            >
                                                                Close
                                                            </button>
                                                            <button
                                                                type="button"
                                                                class="btn save-button"
                                                                data-bs-dismiss="modal"
                                                            >
                                                                Save changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0001</td>
                                        <td>Cuong Tran</td>
                                        <td>Cuong Tran</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href="#"
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0001</td>
                                        <td>Cuong Tran</td>
                                        <td>Cuong Tran</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href="#"
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0002</td>
                                        <td>Loc Truong</td>
                                        <td>Loc Truong</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0002</td>
                                        <td>Loc Truong</td>
                                        <td>Loc Truong</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0002</td>
                                        <td>Loc Truong</td>
                                        <td>Loc Truong</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td>INV-0003</td>
                                        <td>Khai Nguyen</td>
                                        <td>Khai Nguyen</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0003</td>
                                        <td>Khai Nguyen</td>
                                        <td>Khai Nguyen</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0003</td>
                                        <td>Khai Nguyen</td>
                                        <td>Khai Nguyen</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0004</td>
                                        <td>Hao Truong</td>
                                        <td>Hao Truong</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0004</td>
                                        <td>Hao Truong</td>
                                        <td>Hao Truong</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0004</td>
                                        <td>Hao Truong</td>
                                        <td>Hao Truong</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0005</td>
                                        <td>Minh Huynh</td>
                                        <td>Minh Huynh</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0005</td>
                                        <td>Minh Huynh</td>
                                        <td>Minh Huynh</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>INV-0005</td>
                                        <td>Minh Huynh</td>
                                        <td>Minh Huynh</td>
                                        <td>$123</td>
                                        <td>01/01/2023</td>
                                        <td>Active</td>
                                        <td>
                                            <a
                                                class="btn btn-sm btn-primary"
                                                href=""
                                                >Details</a
                                            >
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <footer class="container-fluid pt-4 px-4">
                    <div class="footer rounded-top p-4">
                        <ul class="nav justify-content-center border-bottom pb-3 mb-1">
                            <li class="nav-item"><a href="#!" class="nav-link px-2">Home</a></li>
                            <li class="nav-item"><a href="#!" class="nav-link px-2">About</a></li>
                            <li class="nav-item"><a href="#!" class="nav-link px-2">Copyright</a></li>
                            <li class="nav-item"><a href="#!" class="nav-link px-2">Privacy</a></li>
                            <li class="nav-item"><a href="#!" class="nav-link px-2">Support</a></li>
                        </ul>
                        <p class="text-center">© Aladin, Inc</p>
                    </div>
                </footer>
            </div>
        </div>

        <%- include ('partials/script-homepage-shipper') %>
    </body>
</html>