<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head-login') %>
    <body>
        <div class="index">
            <img class="wave" src="/images/login/wave.jpeg" />
            <div class="container1">
                <div class="img">
                    <img src="/images/login/bg.svg" />
                </div>
                <div class="login-content">
                    <form action="" method="post" class="formindex login-form">
                        <img src="/images/login/aladin-logo-official.png" />
                        <h2 class="title">Login</h2>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                                <h5>Username</h5>
                                <input
                                    type="text"
                                    class="input"
                                    name="username"
                                    value=""
                                />
                            </div>
                        </div>
                        <div class="input-div pass">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <h5>Password</h5>
                                <input
                                    type="password"
                                    class="input"
                                    name="password"
                                    value=""
                                />
                            </div>
                        </div>
                        <a href="">
                            <input type="submit" class="btn1" value="Login" />
                        </a>
                        <div class="signup_link">
                            <a href="/customer/register">Register now!</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include ('partials/script-login') %>
    </body>
</html>
