<!--   RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author:
    1. Tran Manh Cuong (s3974735)
    2. Truong Quang Bao Loc (s3965528)
    3. Nguyen Van Khai (s3979259)
    4. Truong Tuong Hao (s3979259)
    5. Huynh Nguyen Thien Minh (s3978742)
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Refund Policy</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/refund-terms-support.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"
        />
        <%- include ('partials/head') %>
    </head>
    <body>
        <div class="container">
            <div class="title">
                <h1 style="text-align: center;">Aladin</h1>
                <br>
                <h2 style="text-align: center;">REFUND POLICY</h2>
            </div>
            <div class="content">
            <h4>1. Conditions Apply</h4>
            <p>Subject to the terms and conditions set forth in this Returns and Refund Policy and forming part of the Terms of Service, Aladin protects the interests of Buyers by allowing product return requests and /or refund before expiration. The term Aladin Guarantee has been set forth in the Terms of Service.

                Aladin Guarantees performed by Aladin, at the request of the User, to assist the User in resolving conflicts that may arise during the transaction. Users can contact each other to agree on the resolution of their dispute or report to Aladin or a competent state agency for assistance in resolving any dispute that occurs before, during or after using Aladin Guarantee.
                
                Return and/or refund policy for Aladin Mall products is set forth in Aladin Mall Terms of Service.</p>
            <h4>2. Return/Refund Request Conditions</h4>
            <p>Buyer agrees that she/he may request a return/refund only in the following cases:

                The buyer has paid but (i) did not receive the products, or (ii) did not receive all the ordered products, or (iii) received the products that are counterfeit or imitation goods;
                Products are defective or damaged during transit;
                Seller delivers wrong product to Buyer (e.g. wrong size, wrong color, etc.);
                The Product the Buyer receives is markedly different from the information provided by the Seller in the product description;
                The returned Product is not a Restricted Return Product;
                The Seller has reached an agreement and agreed to the Buyer to return the goods (however Aladin will need the Seller to confirm these agreements).
                </p>
            <p>Buyers can submit a return/refund request within 07 (seven) days (for products belonging to Aladin Mall) and 03 (three) days (for products not belonging to Aladin Mall) from the time the order is placed. Item has been updated and delivered successfully. Particularly for fresh and frozen food products (unless they have not yet been received), Buyers need to submit a return/refund request within 24 hours from the time the order is updated.</p>
            <h4>3. No Mind Changing</h4>
            <p>Except as mentioned in this Returns and Refunds Policy, returns due to Buyer's change of mind will not be accepted.</p>
            <h4>4. Seller's Rights</h4>
            <p>Upon receipt of a return and/or refund request from Buyer, Aladin will review and decide for Buyer to be returned/refunded, and notify (i) of his/her return/refund request. Buyer or (ii) decides to process Aladin Return/Refund request to Seller on App and/or email and/or text message. Seller needs to give feedback within 02 calendar days (or other time limit specified by Aladin from time to time) from the date of receipt of Aladin's notice if they disagree with Aladin's refund decision or have not yet received it. Returned goods/returned goods do not fall under the circumstances in which the Buyer is entitled to a refund/return or the goods are damaged or lost during the return process. After this time, if Aladin does not receive any response from the Seller, Aladin understands that the Seller fully agrees with Aladin's handling decision and has no complaints. Refund to the Buyer may be considered by Aladin without the Buyer having to return the item to the Seller.</p>
            <h4>5. Condition of The Returned item</h4>
            <p>In order to limit the arising problems related to returns, Buyers note that they need to pack according to the regulations on packaging of goods in Aladin Shipping Policy and return the product including all accompanying accessories, VAT invoice, warranty stamp (if any) and the product must be in the same condition as when received. Buyers are required to take a video or take photos of the product immediately upon receipt and during the packaging of the returned item as proof of comparison/complaint later.</p>
            <h4>
                6. Returning Costs</h4>
            <p>6.1. With goods purchased at Aladin Mall, Buyers can choose to return:

                In the form of “Return at home” or “Deliver at the post office”: Buyers do not have to pay any shipping fees for the return;
                In the form of "Self-arranged": The buyer needs to pay the shipping cost for the return in advance. Aladin will refund the amount equal to the shipping amount paid by the Buyer to the carrier through the “Aladin Account Balance” on the Aladin app within 3-5 working days from the date the Buyer has Return the item to the carrier and Buyer's return/refund request is accepted.
                6.2. For goods not belonging to Aladin Mall, Buyers can choose to return the goods:
                
                In the form of "Return at home" or "Return at the post office": Buyer does not have to pay any shipping fees for the return.
                In the form of "Self-arranged": The buyer needs to pay the shipping cost for the return in advance. Aladin will support a partial refund of the return fee in the form of Aladin Coins according to Aladin's policy when the Buyer meets the conditions for support within 3-5 working days from the date the Buyer has sent Return the item to the carrier and Buyer's return/refund request is accepted</p>
            <h4>7. Refund for Returned Goods</h4>
            <p>7.1. Aladin will only refund Buyer when Buyer meets one of the following conditions: (i) Seller acknowledges receipt of Returned Goods, or (ii) Buyer accepts the offer of no return refund of the Seller, or (iii) the Buyer's Order is eligible for a return/refund and Aladin determines to the Buyer a refund when the Buyer has returned the item to the carrier and the carrier confirms Received have received the returned item.

                7.2. In the event that the Buyer has no history of violating Aladin's policies and community standards, Aladin will in some cases decide to immediately refund the Buyer without having to wait for the Buyer to return the goods or respond. the cases specified in Article 7.1 above.
                
                7.3. Aladin will automatically refund the Buyer in case the Seller does not respond within the pre-specified time period.
                
                For more information on Seller response deadlines, please click here.
                
                For more information on refunds, please click here.
                
                7.4. As the case may be, the refund will be credited to the Aladin Account Balance, AladinPay Wallet, or the Buyer's credit/debit card registered with Aladin.</p>
                
                7.5. For cases of immediate refund proposed by the Seller, the refund amount will be mutually agreed upon by the two Parties but must not be less than 50% of the value of the product for which the return/refund request arises. In case Aladin receives a claim from the Buyer for the reason that the Seller refund is less than 50% of the product value, Aladin, at any time, has the right to deduct from the Seller's Aladin Account Balance No. the difference (determined as 100% of the product value minus the amount refunded to the Buyer) to pay the Buyer without notice or consent of the Seller. This regulation is intended to prevent profiteering and ensure the transparency and fairness of Aladin's Return and Refund Policy.
            <h4>8. Communication Between Seller and Buyer</h4>
            <p>Aladin encourages Buyers to actively contact the Seller to negotiate and resolve with each other through the communication channels provided on the Aladin system when there are any problems arising in the transaction. </p>
            <h4>9. Dispute Between Buyer and Seller</h4>
            <p>In the event that the Buyer and the Seller cannot agree on a solution, the Buyer and the Seller can complain about this to the Authorities for settlement.

                If one party complains to the other party to the authorities, the complaining party should promptly notify Aladin of this dispute together with the requested information from Aladin that Aladin considers reasonable, on a case-by-case basis. specific job. In that case, Seller and Buyer mutually agree that once Aladin has received notice and information related to the dispute, when the goods have not been paid to Seller in accordance with Aladin's regulations Assured, Aladin reserves the right to suspend payment to Seller until a final decision is made on the settlement of a dispute between Seller and Buyer. In the event that this payment has been paid to the Seller in accordance with the Aladin Guarantee policy, both Buyer and Seller agree that Aladin is no longer responsible for resolving any claim, dispute between the two parties or there is no longer any any responsibility for the goods.
                Buyer and Seller agree to indemnify and hold Aladin harmless, or against, against any claim, action, or other obligations/liability, damages, claims, penalties, fines, costs and expenses (including, without limitation, any other dispute resolution costs) arising out of or in connection with any action by Aladin under the Returns and Refunds Policy. this money.
            </p>
            </div>
            <a href="#"><div class="to-top"><i class="fa fa-angle-up"></i></div></a>
        </div>
        <!-- JavaScript -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
