<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register Now!</title>
    
        <!-- CSS -->
        <link rel="stylesheet" href="/css/reset.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/css/register.css" />
        <%- include ('partials/head') %>
        <!--Image crop -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.css"
        />
    </head>
    <body id="shipper_index">
        <div class="container">
            <div class="contents">
                <div class="images">
                    <div class="logo">
                        <a href="#"
                            ><img src="/images/register/aladin_logo.PNG"
                        /></a>
                        <h3 class="category">
                            <a href="/customer/register" id="customer" href="#"
                                >Customer</a
                            >
                            |
                            <a href="/vendor/register" id="vendor" href="#"
                                >Vendor</a
                            >
                            |
                            <a href="/shipper/register" id="shipper" href="#"
                                ><span>Shipper</span></a
                            >
                        </h3>
                    </div>
                    <div>
                        <img
                            id="corp_img"
                            src="/images/register/shipper_image.svg"
                        />
                    </div>
                </div>

                <form action="/shipper/register" method="POST" enctype="multipart/form-data">
                    <div class="form_title form_title_main">
                        <h2>Become our deliver</h2>
                    </div>
                    <div class="form_title form_title_hidden">
                        <h2>Become our delivery partner</h2>
                    </div>
                    <div class="contact_form">
                        <div class="profile_pic">
                            <img
                                src="/images/register/Default_pfp.svg"
                                title="choose a profile picture"
                                id="photo"
                            />
                            <input
                                type="file"
                                id="file"
                                name="profilePicture"
                                accept="image/*"
                                title="Please choose a profile picture"
                                required
                            />
                            <label
                                for="file"
                                id="upload_button"
                                title="Please choose a profile picture"
                                >Choose Photo</label
                            >
                        </div>

                        <div class="input_box input username">
                            <label>Username </label>
                            <input
                                type="text"
                                id="username"
                                name="username"
                                placeholder=""
                                pattern="^[a-zA-Z0-9]{8,15}$"
                                autofocus
                                title="contains only letters (lower and upper case) and digits, has a length from 8 to 15 characters"
                                required
                            />
                        </div>

                        <div class="input_box input name">
                            <label>Full name </label>
                            <input
                                type="text"
                                name="name"
                                id="name"
                                pattern=".{5,}"
                                placeholder=""
                                title="Please enter your name, minimum 5 characters long"
                                required
                            />
                        </div>

                        <div class="input_box input email">
                            <label>Email address </label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                pattern=".{5,}"
                                title="enter your email address"
                                placeholder=""
                                required
                            />
                        </div>

                        <div class="input_box input hub">
                            <label>Distribution hub </label>
                            <select
                                class="hub"
                                name="distributionHub"
                                id="hub"
                                title="select a distribution hub"
                                required
                            >
                                <option value="">--Choose a distribution hub--</option>
                                <option value="Tan Son Nhat Cargo Terminal">Tan Son Nhat Cargo Terminal</option>
                                <option value="Cat Lai Terminal">Cat Lai Terminal</option>
                                <option value="Saigon Newport Corporation">Saigon Newport Corporation</option>
                                <option value="Long Binh Logistics Center">Long Binh Logistics Center</option>
                            </select>
                        </div>

                        <div class="input_box input password">
                            <label>Set password </label>
                            <div>
                                <input
                                    id="password"
                                    type="password"
                                    name="password"
                                    placeholder=""
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,20}"
                                    title="Must contain at least one number, uppercase, lowercase letter, one special charater (!@#$%^&*), and length from 8 to 20 characters"
                                    required
                                /><i
                                    class="fa fa-eye-slash"
                                    id="togglePassword"
                                    style="margin-left: -30px; cursor: pointer"
                                ></i>
                            </div>
                        </div>

                        <div class="input_box terms">
                            <div class="checkbox_option">
                                <div>
                                    <input
                                        type="checkbox"
                                        class="checkbox"
                                        name="terms"
                                        id="terms"
                                        title="Check this box if you agree to out terms and conditions"
                                        required
                                    />I have read and agree to the
                                    <a href="/terms-of-use">terms and conditions</a>
                                </div>
                            </div>
                        </div>

                        <div class="input_box submit">
                            <input
                                type="submit"
                                id="submit"
                                value="Register"
                                title="register account"
                            />
                        </div>

                        <div class="input_box">
                            <p id="login">
                                Already have an account? <a href="/">Login</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"
        ></script>
        <script src="/js/register.js"></script>
    </body>
</html>
