<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Terms of Use</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/refund-terms-support.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"
        />
        <%- include ('partials/head') %>
    </head>
    <body>
        <div class="container">
            <div class="title">
                <h1 style="text-align: center;">Aladin</h1>
                <br>
                <h2 style="text-align: center;">Terms of Use</h2>
            </div>
            <div class="content">
            <h6>Our Terms May Change.  Some jurisdictions do not permit unilateral updates or changes to consumer terms, so this paragraph may not apply to you.  [See Canada terms.] We may update these Terms from time to time.  If a material change is made, we will post a notice on the Platform or send you a notification.  Read through any changes, and if you don’t agree to them, please stop using the Platform.  If you continue to use our Platform after we notify you of changes, you will be deemed to have accepted the updated Terms, except to the extent prohibited by applicable law.  </h6>
            <h6>Terms of Sale.  By making any purchase with us, you also agree to the Terms of Sale that apply in your country or region. [See Hungarian terms.]</h6>
            <h6>Privacy Policy.  Our Privacy Policy describes the collection and use of personal information on the Platform and applies to your use of the Platform.</h6>
            <h6>Important Notice for Amateur Athletes.  You are responsible for ensuring that your participation on the Platform does not affect your eligibility as an amateur athlete.  Please check with your amateur athletic association for the rules that apply to you.  Aladin is not responsible or liable for your use of the Platform resulting in your ineligibility as an amateur athlete. </h6>
            <h4>EUROPEAN COUNTRIES</h4>
            <p>The following revisions apply to all European countries, except Austria, France, Germany, Italy, Poland and Switzerland, which have other specific revisions to these terms applicable to European Countries.

                Section 10 (DISPUTES/ADDITIONAL TERMS): this section is modified as follows:
                
                The sub-section titled “CHOICE OF LAW/JURISDICTION” is deleted in its entirety and replaced with the following (except the last bullet point regarding bringing claims, which remains unchanged):
                
                “Choice of Law/Jurisdiction
                
                You agree that the Platform, Terms, and any dispute between you and Aladin shall be governed in all respects by Dutch law, without regard to choice of law provisions, and not by the 1980 U.N. Convention on Contracts for the International Sale of Goods.
                Except where prohibited and without limitation to any statutory rights for consumers, you agree that all disputes, claims and legal proceedings directly or indirectly arising out of or relating to the Platform (including but not limited to the purchase of  products) shall be resolved and exclusively in the  competent courts of Amsterdam, the Netherlands.”</p>
            
            <H6>○ You agree that the Platform, Terms, and any dispute between you and Aladin shall be governed in all respects by Dutch law, without regard to choice of law provisions, and not by the 1980 U.N. Convention on Contracts for the International Sale of Goods.</H6>
            <h6>○ Except where prohibited and without limitation to any statutory rights for consumers, you agree that all disputes, claims and legal proceedings directly or indirectly arising out of or relating to the Platform (including but not limited to the purchase of Aladin products) shall be resolved and exclusively in the  competent courts of Amsterdam, the Netherlands.”</h6>
            <h4>AUSTRIA</h4>
            <p>Section 10 (DISPUTES/ADDITIONAL TERMS): this section is replaced with the version for European Countries below,  except the following is added at the end:

                “All claims shall be brought within three (3) years after the claim arises.”</p>
            <h4>BELGIUM</h4>
            <p>Section 3 (POSTING CONTENT ON THE PLATFORM): this section is modified as follows:

                The first bullet point paragraph under the sub-section titled “USER CONTENT LICENSE” is deleted in its entirety and replaced with the following:
                
                “You grant Aladin a non-exclusive, perpetual (or at least for the duration of the legal protection of the intellectual property rights/image rights which may lie in the User Content), transferable, sub-licensable, royalty-free, worldwide license to use any of the User Content that you post on or in connection with the Platform, including the likeness of any person that appears in the User Content, or any of the concepts or ideas contained in the User Content, for any purpose, including commercial, promotional and operational use, which includes the right to translate, display, reproduce, modify, create derivative works, sublicense, distribute and assign these rights.”
                
                The sub-section titled “LICENSE TO USE COMMENTS, FEEDBACK AND IDEAS” is deleted in its entirety and replaced with the following:
                
                “LICENSE TO USE COMMENTS, FEEDBACK AND IDEAS.  You grant to Aladin a perpetual (or at least for the duration of the legal protection of the intellectual property rights/image rights which may lie in the comments, feedback and ideas), worldwide license to use all comments, feedback and ideas you may share with us, without notice, compensation or acknowledgement to you, for any purposes whatsoever, including, but not limited to, developing, manufacturing and marketing products and services and creating, modifying or improving products and services.”</p>
            <h4>FRANCE</h4>
            <p>Section 5 (COPYRIGHT INFRINGEMENT): the second paragraph in this section is deleted in its entirety and replaced with the following:

                “If you believe that your work has been improperly copied to the Platform, such that it constitutes infringement, please provide us with the following information:
                
                (1) date of the notification;
                
                (2) if the claimant is a natural person: name, surname, profession, address, nationality, place and date of birth;
                
                (3) if the claimant is a legal person: name, form, registered office and the entity representing it for legal purposes;
                
                (4) name and address of the recipient, or if a legal person, its name and registered office;
                
                (5) a description of the facts at issue and the precise location;
                
                (6) the grounds on which the content should be withdrawn, including relevant legal provisions and justification of facts; and
                
                (7) a copy of the correspondence sent to the author or editor of the litigious information or activity requesting their interruption, withdrawal or modification or an explanation that the author or editor could not be contact.”
                
                Section 9 (INDEMNIFICATION/LIABILITY): this section is modified as follows:
                
                The sub-section titled “Indemnification and Release” is deleted in its entirety and replaced with the following:
                
                “Indemnification.  You agree to indemnify, defend, and hold harmless Aladin Inc., its affiliates, officers, directors, employees, agents, licensors and suppliers (the “Aladin Parties”) from and against all claims, losses, liabilities, expenses, damages and costs, including, without limitation, attorneys' fees, arising from or relating in any way to your User Content, your use of Content, your use of the Platform, your conduct in connection with the Platform or with other Platform users, or any violation of these Terms of Use, any law or the rights of any third party.”
                
                The sub-section titled “LIMITATION OF LIABILITY” is deleted in its entirety.
                
                Section 10 (DISPUTES/ADDITIONAL TERMS): the sub-section titled “CHOICE OF LAW/JURISDICTION” is deleted in its entirety and replaced with the following:  
                
                 “Choice of Law/Jurisdiction
                
                Nothing in this paragraph shall deprive you of the protection afforded to consumers by the mandatory rules of law of the country in which you live.
                
                You agree that the Platform, Terms, and any dispute between you and Aladin shall be governed in all respects by Dutch law, without regard to choice of law provisions, and not by the 1980 U.N. Convention on Contracts for the International Sale of Goods.
                Except where prohibited and without limitation to any statutory rights for consumers, you agree that all disputes, claims and legal proceedings directly or indirectly arising out of or relating to the Platform (including but not limited to the purchase of Aladin products) shall be resolved and exclusively in the  competent courts of Amsterdam, the Netherlands.
                If you have a complaint, please contact us. If you feel your complaint is not adequately addressed you can – but are not obliged to – use the Online Dispute Resolution (ODR) platform that you can access through http://ec.europa.eu/odr.  In addition, you have the right to initiate a mediation procedure by contacting the mediator (s) as follows: Association des médiateurs européens (197, Boulevard Saint-Germain, 75007 PARIS, téléphone: 09 53 01 02 69), http://www.mediationconso-ame.com/. The mediator(s) will attempt to, independently and impartially, reach an amicable resolution of the dispute.  In case of mediation, each party is free to accept or reject the solution proposed by the mediator.”</p>
            <h4>GERMANY</h4>
            <p>Section 7 (IMPORTANT DISCLAIMERS): this section is modified as follows:

                The third bullet point in the summary box is deleted in its entirety and replaced with the following:
                
                “Aladin is not responsible for any damage (except liability for Aladin’s willful and gross negligent acts and Aladin’s personal injuries) caused by your interactions with other users.  Please be responsible and take precautions when interacting with people you don’t know.”
                
                The last bullet point paragraph under the sub-section titled “PHYSICAL ACTIVITY” is deleted in its entirety and replaced with the following:
                
                “To the maximum extent allowed by applicable law, Aladin is not responsible or liable for any damages (except liability for Aladin’s willful and gross negligent acts and Aladin’s personal injuries) you may sustain that result from your use of, or inability to use, the Platform.” 
                
                The sub- section titled “WARRANTY DISCLAIMER”, including all of the bullet points therein, is deleted in its entirety.
                
                Section 9 (INDEMNIFICATION/LIMITATION OF LIABILITY): this section is modified as follows:
                
                The sub-section titled “INDEMNIFICATION AND RELEASE” is deleted in its entirety.
                
                The sub-section titled “LIMITATION OF LIABILITY” is deleted in its entirety and replaced with the following:
                
                “LIMITATION OF LIABILITY. Any liability of Aladin and its affiliates, and their officers, directors, shareholders, employees and agents (the “Released Parties”) is limited to cases of intent or gross negligence. In cases of slight negligence the Released Parties are only liable if an essential contractual duty, whose violation endangers the purpose of the contract or whose performance is required to achieve this purpose and in whose performance the consumer trusts (so called “cardinal duties”) has been violated. In this case, the liability is limited to damages that are typical and foreseeable. This limitation of liability does not apply to claims under product liability law and in the case of bodily harm or death.”
                
                Section 10 (DISPUTES/ADDITIONAL TERMS): this section is replaced with the version for European Countries above, except the following is added at the end:
                
                “All claims shall be brought within two (2) years after the claim arises.”</p>
            <h4>HUNGARY</h4>
            <p>Introductory Paragraphs: The second bullet point in the first section above titled “Terms of Sale” is amended by adding the following:

                "These Terms constitute an implied agreement between you and Aladin, unless otherwise meeting the requirements of written agreements under Hungarian Law."</p>
            <h4>ITALY</h4>
            <p>Section 7 (IMPORTANT DISCLAIMERS): this section is modified as follows:

                The last bullet point paragraph under the sub-section titled “PHYSICAL ACTIVITY” is deleted in its entirety and replaced with the following:
                
                “To the maximum extent allowed by applicable law, Aladin is not responsible or liable for any damages you may sustain that result from your use of, or inability to use, the features on the Platform, except in the event of fraud or gross negligence by Aladin.” 
                
                The sub-section titled “USER INTERACTIONS” is deleted in its entirety and replaced with the following:
                
                “USER INTERACTIONS.  We are not responsible for your interactions with other users of the Platform or any damage or harm you may experience because of these interactions, except in the event of fraud or gross negligence by Aladin. 
                
                Be responsible and take precautions when interacting with other users (including users you do not know) on the Platform. Before you meet another person face-to-face, consider investigating, bringing a friend, choosing public locations and letting someone know where you will be. Aladin is under no obligation to become involved with any user dispute (but may do so at its own discretion) except in the event of fraud or gross negligence by Aladin.”
                
                Section 10 (DISPUTES/ADDITIONAL TERMS): the sub-section titled “CHOICE OF LAW/JURISDICTION” is deleted in its entirety and replaced with the following (except the last bullet point regarding bringing claims, which remains unchanged):
                
                “Choice of Law/Jurisdiction
                
                You agree that the Platform, Terms, and any dispute between you and Aladin shall be governed in all respects by Dutch law, without regard to choice of law provisions, and not by the 1980 U.N. Convention on Contracts for the International Sale of Goods, subject to any statutory provisions of applicable law which may apply regardless of any different choice of law.
                Except where prohibited and without limitation to any statutory rights for consumers, you agree that all disputes, claims and legal proceedings directly or indirectly arising out of or relating to the Platform (including but not limited to the purchase of Aladin products) shall be resolved and exclusively in the court of the place where you are resident or domiciled.”
                </p>
            <h4>POLAND</h4>
            <p>Section 10 (DISPUTES/ADDITIONAL TERMS):  the sub-section titled “CHOICE OF LAW/JURISDICTION” is deleted in its entirety and replaced with the following (except the last bullet point regarding bringing claims, which remains unchanged):

                “Choice of Law/Jurisdiction
               
               The Platform, Terms, and any dispute between you and Aladin shall be governed in all respects by Polish law.
               All disputes, claims and legal proceedings directly or indirectly arising out of or relating to the Platform (including but not limited to the purchase of Aladin products) shall be resolved in the courts competent under applicable law.”</p>
            <h4>SWITZERLAND</h4>
            <p>Section 10 (DISPUTES/ADDITIONAL TERMS): the sub- section titled “CHOICE OF LAW/JURISDICTION” is deleted in its entirety and replaced with the following (except the last bullet point regarding bringing claims, which remains unchanged):

                “CHOICE OF LAW/JURISDICTION
                
                You agree that the Platform, Terms, and any dispute between you and Aladin shall be governed in all respects by the substantive laws of Switzerland, without regard to any international conflict of law provisions, and to the exclusion of the 1980 U.N. Convention on Contracts for the International Sale of Goods.
                You agree that all disputes arising directly or indirectly out of or in connection with the Platform and these Terms of Use, shall be subject to the exclusive jurisdiction of the competent courts of the city of Zurich, Switzerland.”</p>
            </div>
            <a href="#"><div class="to-top"><i class="fa fa-angle-up"></i></div></a>
        </div>
        <!-- JavaScript -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
