* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #f68713;
    --logo-font: "Dancing Script", cursive;
    --word-font: "Poppins", sans-serif;
    --title--font: "Roboto Serif", serif;
}

/* navbar */
.navbar {
    background-color: white;
}

nav .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

nav .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
}

nav .input::placeholder {
    color: #9e9ea7;
}

nav .input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

nav .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}
.nav-content {
    width: 100%;
}
.left,
.left .content {
    display: flex;
    font-size: 20px;
}

.nav-content .left h4 {
    font-family: var(--logo-font);
    font-size: 30px;
}

.nav-item a {
    color: black !important;
}

.nav-item:hover > a {
    color: var(--primary-color) !important;
    transition: all 0.15s linear;
}
.nav-item .option:hover a {
    color: var(--primary-color) !important;
    transition: all 0.15s linear;
}
/* banner */
#banner {
    margin-top: 76px;

    background-color: rgb(239, 233, 226);
}
.banner .row h1 {
    color: var(--primary-color);
}

.banner .row .title {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--title--font);
    letter-spacing: 10px;
}
.banner .row .title h2 {
    font-size: 5em !important;
}
/* main */
/* category */
.categories {
    font-family: var(--title--font);
    color: var(--primary-color);
}

.categories .cate-img {
    display: flex;
    justify-content: center;
}
.categories .cate-img .img-border {
    margin-top: 5px;
    border-radius: 50%;
}
.categories .card-body {
    display: flex;
    justify-content: center;
}
.card:hover {
    scale: 1.1;
    transition: all ease-in-out 0.3s;
}
.categories .card-display {
    display: flex;
    justify-content: center;
}
.categories .card a {
    text-decoration: none;
    color: black;
}
/* recommendation */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#recommendation .absolute a {
    color: black;
}
.product-container {
    display: flex;
    overflow-x: auto !important;
    scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar {
    display: none;
}
.product-card {
    flex: 0 0 auto;
    margin-right: 40px;
}
.product-image {
    position: relative;
    overflow: hidden;
}
.product-info h3 {
    font-family: var(--word-font);
    font-size: 20px;
}
.product-info p {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 18px;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 10vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    z-index: 9;
    margin-top: 25%;
}
.nxt-btn {
    right: 0;
}

.overlay {
    top: 0;
    left: 0;
    width: 301px !important;
    height: 303px !important;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.overlay > div {
    background-color: var(--primary-color);
    font-family: var(--word-font);
    font-size: 18px;
    display: none !important;
}
.overlay:hover > div {
    display: flex !important;
}

/* hot */
.group-by {
    display: flex;
    align-items: center;
}

.rec-box h1 {
    font-family: var(--title--font);
    color: var(--primary-color);
}

.product-col {
    justify-content: center;
}

.product-effect:hover + div {
    scale: 1.1;
    transition: all ease-in-out 0.2s;
}
/* breadcrumb */
.breadcrumb li {
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
}
.breadcrumb li a {
    color: var(--primary-color) !important;
}
/* footer */
.background-color {
    background-color: var(--primary-color);
    color: white !important;
}

.footer-container .content h3 {
    color: rgb(255, 208, 0) !important;
    font-family: var(--title--font);
    font-size: 20px;
}
.footer-container .content a,
.footer-container .content p {
    text-decoration: none !important;
    color: rgba(232, 228, 209, 0.582);
    font-size: 18px;
}
/* scroll to top */
.to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 238, 0, 0.829) !important;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: black;
}

.to-top:hover {
    color: white;
    opacity: 0.7;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .banner .row .title h2 {
        font-size: 3em !important;
    }
}

@media (max-width: 767px) {
    .banner .row .title h2 {
        font-size: 2em !important;
    }
}

@media (max-width: 1023px) {
    .banner .row .col-lg-7 h1 {
        font-size: 1.5em;
    }
    .banner .row .col-lg-7 p {
        font-size: 15px;
    }
}

@media (min-width: 767px) and (max-width: 995px) {
    #recommendation .row h5 {
        font-size: 20px !important;
    }
    #recommendation .absolute a {
        font-size: 13px !important;
    }
}

@media (max-width: 767px) {
    #banner .row .col-lg-5 img {
        width: 80%;
    }
    .banner .row .col-lg-7 h1 {
        font-size: 1.05em;
    }
    .banner .row .col-lg-7 p {
        font-size: 0.65em;
    }
    .banner .row button {
        padding: 5px;
        font-size: 15px;
    }
    /* category */
    .categories .card-display .card {
        width: 12rem !important;
    }
    #recommendation .row h5 {
        font-size: 20px !important;
    }
    #recommendation .absolute a {
        font-size: 13px !important;
    }
    .banner .button-banner {
        margin-left: 5% !important;
        margin-bottom: 5% !important;
    }
    /* hamburger bar */
    .navbar .container-lg .navbar-brand,
    .navbar .container-lg .hamburger ul li {
        margin-left: 10px !important;
    }
    .navbar .container-lg {
        padding: 0;
    }
    .navbar .container-lg .hamburger-bar {
        display: block !important;
    }
    .navbar .container-lg .hamburger {
        display: none !important;
    }
    .navbar .container-lg .hamburger.dropdown-nav {
        display: block !important;
        position: absolute;
        width: 100%;
        margin-top: 244px;
        background-color: white;
    }
}

@media (max-width: 1200px) {
    #recommendation .category-banner {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #hot .product-card .product-image {
        width: 95%;
    }
    .overlay {
        width: 95% !important;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    #service .row > div {
        padding-left: 35% !important;
    }
    #service .row > div > div {
        margin-left: 40px !important;
    }
    .banner .button-banner {
        margin-left: 8% !important;
        margin-bottom: 8% !important;
    }
}
/* 992 -> 1200px */
@media (max-width: 576px) {
    #recommendation .row.mt-5 {
        flex-direction: column-reverse;
    }
    #recommendation .row .category-banner {
        background-color: #b4b3b3;
    }
    #recommendation .row .category-banner img {
        width: 50%;
    }
}
