h1 {
    font-family: "Dancing Script", cursive;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Roboto Serif", serif;
    font-size: 125%;
}

label {
    font-family: "Roboto Serif", serif;
    font-size: 100%;
}

#main_index {
    background-image: url("/static-website-material/assets/images/customer_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#vendor_index {
    background-image: url("/static-website-material/assets/images/vendors_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#shipper_index {
    background-image: url("/static-website-material/assets/images/shipper_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    background-color: #ffffff;
    padding: 20px 40px 10px 20px;
    border-radius: 20px;
    margin: 5px;
    flex-wrap: nowrap;
    max-width: max-content;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

#corp_img {
    height: 400px;
}

.form_title {
    text-align: center;
}

.form_title_hidden {
    display: none;
}

.form_title img {
    margin-right: 5px;
}

.input_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 300px;
    position: relative;
}

.login_line:hover {
    transform: scale(1);
}

.terms:hover {
    transform: scale(1);
}

#password {
    width: 300px;
}

.input_box input {
    font-size: 16px;
    border-color: #f05d40;
    border-width: 1px;
    border: none;
    outline: none;
    border-bottom: 2px solid #d9d9d9;
}

.input:hover,
.input:focus {
    transform: scale(1.01);
    transition: 0.2s;
}

#login {
    font-size: 16px;
}

#submit {
    border-radius: 5px;
}

.input_box select {
    border-radius: 0px;
    font-size: 16px;
    border-color: #f05d40;
    border-width: 1px;
    border: none;
    outline: none;
    border-bottom: 2px solid #d9d9d9;
}

.input::before,
.input::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.input:hover::before,
.input:hover::after {
    animation: animate 0.16s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-bottom-color: #f05d40;
    }

    100% {
        width: 100%;
        height: 0;
        border-bottom-color: #f05d40;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_title h2 {
    font-size: 35px;
    color: #f05d40;
}
.alter_login p {
    text-align: center;
}

.alter_login_icon {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
}

.alter_login_icon img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.alter_login_hidden {
    display: none;
}

.checkbox {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.contact_form {
    text-align: start;
}

.submit input {
    font-size: 21px;
    background-color: orange;
    color: white;
    transition: 0.5s;
    background-image: linear-gradient(to right, #f05d40, orange, #f05d40);
}

.submit input:hover {
    background-image: linear-gradient(to right, #f05d40, #f05d40, #f05d40);
    color: black;
    transform: scale(1.05);
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #0a58cc;
}

a:hover {
    color: #f05d40;
}

/* pfp */

.profile_pic {
    height: 175px;
    width: 175px;
    position: relative;
    left: 62px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #f05d40;
}

#photo {
    height: 100%;
    width: 100%;
}

#file {
    display: none;
}

#upload_button {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: "Roboto Serif", serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
/* pfp */

.caregory {
    font-size: 25px;
    margin: 0px;
    margin-left: 30px;
}

.logo #customer span {
    color: #f05d40;
    text-decoration: underline;
}

.logo #vendor span {
    color: #2b658a;
    text-decoration: underline;
}

.logo #shipper span {
    color: #008061;
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
}

.logo a {
    text-decoration: none;
    color: black;
}
#shipper:hover {
    transition: 0.2s;
    color: #008061;
}

#customer:hover {
    transition: 0.2s;
    color: #f05d40;
}

#vendor:hover {
    transition: 0.2s;
    color: #0a58cc;
}

@media only screen and (max-width: 1023px) {
    #corp_img {
        height: 300px;
    }

    .profile_pic {
        height: 150px;
        width: 150px;
        left: 55px;
    }

    .caregory {
        font-size: 20px;
    }

    .form_title h2 {
        font-size: 27px;
    }

    .input_box {
        margin-bottom: 10px;
        width: 250px;
        font-size: 15px;
    }

    #login {
        font-size: 15px;
    }

    #password {
        width: 250px;
    }

    .logo img {
        height: 90px;
    }

    .contents {
        padding: 15px;
    }
}

@media only screen and (max-width: 767px) {
    #corp_img {
        display: none;
    }
    .alter_login_main {
        display: none;
    }
    .alter_login_hidden {
        display: block;
    }
    .contents {
        flex-wrap: wrap;
    }

    .form_title h2 {
        font-size: 25px;
    }

    .alter_login_hidden {
        margin-bottom: 10px;
    }

    .contents {
        justify-content: space-around;
        margin: 0px;
    }

    .contents {
        padding: 20px;
    }

    #password {
        width: 340px;
    }

    .input_box {
        margin-bottom: 10px;
        width: 340px;
        font-size: 20px;
    }

    .profile_pic {
        height: 175px;
        width: 175px;
        left: 80px;
    }

    #login {
        font-size: 20px;
    }

    .logo img {
        height: 78px;
    }

    .input_box input,
    .input_box select {
        font-size: 20px;
    }

    .form_title_hidden {
        display: block;
    }

    .form_title_main {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .logo img {
        height: 60px;
    }
    .caregory {
        font-size: 18px;
        margin-left: 15px;
    }
}
